<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="/styles" rel="stylesheet" />
    <script src="/script"></script>
</head>
<body>
    Hallo Admin
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>    

    
    <ul>
        <li><a href="/View/Notification">Notification</a></li>
        <li><a href="/View/Routine">Routine</a></li>
        <li><a href="/View/Logs">Logs</a></li>
        <li><a href="/View/MailSubs">MailSubs</a></li>
        <li><a href="/View/Proposals">Proposals</a></li>
        <li><a href="/View/SmallExtras">KleineExtras</a></li>
    </ul>
</body>
<style>
    li{
        margin: 1em 0;
    }
</style>
</html>