<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abonnements</title>
    <script src="/Admin/script"></script>
    <link href="/Admin/styles" rel="stylesheet" />
</head>
<body>
    <a href="/Admin/View/Admin">Startseite</a>
    MailSubs
    <div id="sub-container">

    </div>
</body>
</html>

<script>
    async function getMailRequests() {
        const containerEl = document.getElementById("sub-container")
        containerEl.innerHTML = "";
        const requests = await request("/Admin/MailRequests");
        for (const user of requests) {
            const divEl = document.createElement("div");
            divEl.textContent = `${user.name} | ${user.address} | ${user.grade} | `

            const acceptButtonEl = document.createElement("button");
            acceptButtonEl.textContent = "akzeptieren"
            acceptButtonEl.onclick = () => handleUser(user.address, "Accept")

            const rejectButtonEl = document.createElement("button");
            rejectButtonEl.textContent = "verwerfen"
            rejectButtonEl.onclick = () => handleUser(user.address, "Reject")

            divEl.append(acceptButtonEl)
            divEl.append(rejectButtonEl)

            containerEl.append(divEl)
        }
    }
    getMailRequests();

    async function handleUser(mail, task) {
        const data = new FormData()
        data.append("mail", mail)
        await request(`/Admin/${task}User`, { method: "POST", body: data })
        getMailRequests()
    }
</script>